<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="form">
        <div class="input"  id="externDoc">
            <p>Want to use our contact form to get in touch with us?</p>
            <p>Start by entering your name</p>
            <input type="text" id="name" placeholder="First- and lastname">
            <button id="nextbtn">Next</button>
        </div>
    </div>
</body>
</html>